<div class="jumbotron text-center">
  <h1>Welcome to PG Lab! </h1>
  <p><%= link_to 'Login', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path %> to begin your assessments</p> 
</div>




